@import "tailwindcss";

@theme inline {
  /* colors */
  --background: #faf7f5;
  --foreground: #1a0502;
  --grey: #ededed;
  --dark-grey: #747474;
  --green: #7c8340;
  --dark-green: #3f4521;
  --yellow: #d7be17;
  --light-yellow: #e5d46f;
  --red: #a92411;

  --gradient-top-bottom: linear-gradient(360deg, rgba(0, 0, 0, 0) 80.29%, rgba(0, 0, 0, 0.3) 98.87%);
  --gradient-left-right: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 90%);
  --gradient-bottom-top: linear-gradient(180deg, rgba(26, 5, 2, 0) 50%, rgba(26, 5, 2, 0.8) 80%);

  /* borders */
  --button-radius: 6px;
  --small-image-radius: 10px;
  --image-radius: 16px;
  --round-image-radius: 100%;

  /* fonts */
  --font-h: var(--font-playfair-display);
  --font-p: var(--font-lato);
  --font-button: var(--font-lato);

  --dislay: 56px;
  --h1: 40px;
  --h2: 30px;
  --h3: 26px;
  --h4: 22px;
  --body-lg: 18px;
  --body: 16px;
  --caption: 14px;

  /* spacing */
  --gap-3xl: 120px;
  --gap-2xl: 60px;
  --gap-xl: 48px;
  --gap-l: 40px;
  --gap-m: 32px;
  --gap-s: 24px;
  --gap-xs: 16px;
  --gap-2xs: 8px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
